html, body {
    height: 100%;
    color: #666666;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}
a {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: white;
    transition: opacity .125s linear;
}
a:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .125s linear;
}
a:visited {
    color: inherit;
    text-decoration: none;
}
.first-container {
    background: url(https://media-exp1.licdn.com/dms/image/C561BAQGLjJ0ZpqJ-JQ/company-background_10000/0/1519797201497?e=1634137200&v=beta&t=5bZFeX1rH_R4_0-ZlbDgw22GilS1iYy7JOlqr0jTxW8);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    position: relative;
    /* background: rgba(0,0 ,0, 0.7,) url('images/demo/dtu\ background.jpg'); */
    background-size: cover;
    background-blend-mode: darken;
    height: 90%;
    background: rgba(0,0 ,0, 0.7,);
}
.mid h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
  }

.nav-container {
    height: 58px;
    width: 100%;
    position: fixed;
    color: white;
    letter-spacing: 0.025em;
    transition: background-color 0.2s linear;
}
.nav-container.solid-nav {
    background-color: rgb(108, 110, 105);
    transition: background-color 0.2s linear;
}
.nav-container .nav-row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 18px;
}
.nav-container .nav-row .nav-logo {
    display: inline-block;
    font-weight: 900;
}
.nav-container .nav-row .nav-controls {
    float: right;
    padding-bottom: 500px;
}
.nav-container .nav-row .nav-controls a {
    padding-left: 20px;

}
.container {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 25px;
    padding-right: 25px;
}
.row {
    max-width: 1200px;
    margin: 0 auto;
}
.footer{
    background: #000;
    color: #8a8a8a;
    text-align: center;
    font-size: 14px;
    padding: 20px 0 20px;
}

.logo {position: absolute;
    
}
.secondbox {
    margin-top: 0px;
    padding-top: 0px;
}
